@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  font-family: 'Muli';
}

.container {
  width: 70%;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

button {
  padding: 10px 20px;
  color: #222;
  background-color: rgb(224,224,224);
  border: 0;
  border-radius: 5px;
  font-weight: 600;
}

button:hover, button:focus {
  background-color: rgb(172,172,172);
}

.outline {
  background-color: white;
  color: #3D5AFD;
  border: 1px solid #3D5AFD;
}

.outline:hover, .outline:focus {
  background-color: #EAEFFF;
}

.text {
  background-color: white;
  color: #3D5AFD;
}