@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  font-family: 'Muli';
}

p {
  font-size: 12px;
}

.container {
  width: 70%;
  margin: auto;
  padding: 20px;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 70%;
  margin-bottom: 40px;
}

.three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

.four-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}

button {
  padding: 10px 20px;
  color: #222;
  background-color: rgb(224,224,224);
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button:hover, button:active:focus {
  background-color: rgb(172,172,172);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

button:disabled:hover {
  background-color: rgb(224,224,224);
}

.outline {
  background-color: white;
  color: #3D5AFD;
  border: 1px solid #3D5AFD;
}

.outline:hover, .outline:focus {
  background-color: #EAEFFF;
}

.text {
  background-color: white;
  color: #3D5AFD;
}

.text:hover, .text:focus {
  background-color: #EAEFFF;
}

.text:disabled:hover {
  background-color: white;
}

.primary {
  color: white;
  background-color: #3D5AFD;
}

.primary:hover, .primary:focus {
  background-color: #0039CB;
}

.secondary {
  color: white;
  background-color: #455A64;
}

.secondary:hover, .secondary:focus {
  background-color: #1C313A;
}

.danger {
  color: white;
  background-color: #D32F2F;
}

.danger:hover, .danger:focus {
  background-color: #9A0007;
}